body {
  background-color: #00091a;
}
.container {
  padding: 0 !important;
}
.profile-container {
  background-color: var(--light-secondry-color);
  padding: 10px;
  margin-bottom: 25px;
  min-height: 500px;
  color:#FFF;
}
.profile-container h1 {
  text-transform: uppercase;
  margin: 15px 0;
  text-align: center;
}
.info-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
    height: 400px;
}
.user-info{
    padding: 10px;
    min-width: 30%;
    /* display: flex;
    align-items: center; */
    /* margin-top: 25px; */
}
.user-info .label{
    margin-right: 10px;
    font-weight: bold;
}
.user-info .info{
    font-size: 20px;
    border-radius: 5px;
    padding:5px 0 5px 15px;
    text-transform: capitalize;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 10px;
}
.user-info .info#email{
    text-transform: lowercase;
}
.lower-header .container{
    padding: 10px !important;
}